@import '../../../scss/module-base.scss';

.background {
    background-color: $navy-blue;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.loginDiv {
    background-color: $light-blue;
    box-shadow: 0px 0px 10px 10px #0D2745;
    border-radius: 10px;
    width: 50%;
    padding: 2rem;

    @include xs-only {        
        height: 90%;
        width: 95%;
    }
}

.titleDiv {
    text-align: center;
}

.imageDiv {
    max-width: 10%;
    align-items: center;

    @include xs-only {
        max-width: 20%;
    }
}

.title {
    color: white;
    font-family: 'champagne';
}


  
  .formStyle {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 4rem;
    font-family: 'champagne';
    font-size: 12px;

    @include xs-only {
        
        margin: 4rem 0 0 0;
    }
    
    input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    a {
        color: blue;
        cursor: pointer;
        text-decoration: none;
        font-size: 10px;
    }

    button {    
        width: 48%;
        background-color: #0D2745;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        @include xs-only {
            width: 100%;
        }
    }

    button:hover {
        background-color: $blue; /* Green */
    }
  }

  .wrapperDiv {
    text-align: center;
  }

  .createAccountButton {
      background-color: #0B3B63;
  }

  .errorLabel {
    display: flex;
    color: red;
   }

  .buttonDiv {
    flex-direction: column;
    margin: 1rem;

    @include sm {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
    }
  }

  .forgotPassButton {
    background-color: $light-blue !important;
  }

  .forgotPassButton:hover {
    background-color: $blue !important;
  }

  .checkbox {
      margin: 1rem
  }

  .passwordInput {
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    height: 2rem;
    width: 2rem;
    top: 18px;
    right: 18px;
  }

  .buttonDisable {
      background-color: $gray-1 !important;
      cursor: not-allowed;
  }

