@import '../../../scss/module-base.scss';
.loaderWrapper {
    padding-left: 40%;
    height: 100vh;
    padding-top: 10%;
    background-color: #F0EFF0;

    @include xs-only {
        padding-top: 20%;
        left: 0;
        padding-left: 10%;
    }

    p {
        color: $navy-blue;
        font-family: 'champagne';
        font-size: 36px;
    }
}


.bankLogo {
    width: 30%;
    @include xs-only {
        width: 100%;
    }
}

.loadergif {
    width: 100%;
    margin-top: 6rem;
    margin-left: -10rem;

    @include xs-only {
        width: 100%;
        margin-left: 0rem;
    }
}

